<#@ template language="C#"   hostspecific="True"      #>
<#@ output extension=".cs"   #>
<#@ include file="$(ProjectDir)BLToolkit.ttinclude" #>
<#@ include file="$(ProjectDir)MSSQL.ttinclude"     #>
<#
    ConnectionString = "Server=192.168.2.79;Database=5Th;user id=sa;pwd=sql2008?";

    Namespace        = "Model";
    DataContextName  = "DataModel";

    GenerateModel();
#>
